.addons__header {
  margin-bottom: 33px;
}

.addons__list {
  .list-reset();
  border-bottom: 1px solid #eaeaea;
}

.addons__item {
  position: relative;
  padding-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #eaeaea;
}

.addons__name {
  margin-top: 13px;
  margin-bottom: 12px;
  .header--upper(16px);
  line-height: 1;
  width: 100%;
}

.addons__package,
.addons__price {
  color: @paragraph-color;
}

.addons__price {
  margin-left: auto;
}

.addons__button {
  margin-top: 11px;
  width: 100%;
  text-align: center;
}

.addons__goodies {
  margin: 40px auto 33px;
  padding: 185px 55px 0;
  width: 280px;
  height: 289px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  color: white;
  background-image: url("../img/icon-gift.svg"),
    url("../img/gift-photo-mobile@1x.jpg");
  background-color: @green-bg;
  background-repeat: no-repeat;
  background-position: center 65px, center;
  background-size: 56px 61px, cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/icon-gift.svg"),
      url("../img/gift-photo-mobile@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .addons__header {
    // margin-left: 37px;
    margin-top: 60px;
    margin-bottom: 81px;
    // padding: 0 35px;
    // border: 1px solid red;
  }

  .addons__wrapper {
    margin-top: 46px;
  }

  .addons__list {
    border: none;
  }

  .addons__item {
    padding: 12px 37px 26px;
    align-items: baseline;
    justify-content: space-between;
    border: 1px solid #eaeaea;
  }

  .addons__button {
    margin-top: 14px;
  }

  .addons__name {
    font-size: 20px;
    width: auto;
  }

  .addons__package,
  .addons__price {
    font-size: 16px;
    text-align: right;
  }

  .addons__package {
    margin-left: auto;
  }

  .addons__price {
    position: static;
    width: 95px;
    margin: 0;
  }

  .addons__goodies {
    margin-top: 70px;
    margin-bottom: 76px;
    padding: 70px 110px 100px 425px;
    height: 200px;
    width: 100%;
    text-align: left;
    color: white;
    background-image: url("../img/icon-gift.svg"),
      url("../img/gift-photo-tablet@1x.jpg");
    background-color: @green-bg;
    background-position: 14% 47%, 50% 65%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/icon-gift.svg"),
        url("../img/gift-photo-tablet@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .addons {
    margin-bottom: 0;
  }

  .addons__header {
    // margin-left: 37px;
    margin-top: 68px;
    margin-bottom: 82px;
    // padding: 0 35px;
    // border: 1px solid red;
  }

  .addons__wrapper {
    margin: 80px auto 86px;
    display: flex;
    justify-content: space-between;
  }

  .addons__list {
    width: 100%;
  }

  .addons__item {
    padding: 11px 0 14px;
    width: 895px;
    border-left: none;
    border-right: none;
  }

  .addons__package {
    width: 185px;
    text-align: left;
  }

  .addons__price {
    position: static;
    width: 100px;
  }

  .addons__button {
    width: 245px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40px;
  }

  .addons__goodies {
    margin: 0 0 0 auto;
    padding: 185px 40px 0;
    width: 245px;
    height: 100%;
    text-align: center;
    background-image: url("../img/icon-gift.svg"),
      url("../img/gift-photo-desktop@1x.jpg");
    background-color: @green-bg;
    background-position: center 28%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/icon-gift.svg"),
        url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}
