.button {
  display: inline-block;
  padding: 17px 28px 15px;
  font-family: @font;
  font-size: 20px;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
  background-color: #68b738;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}
