.button {
  display: inline-block;
  padding: 11px 25px;
  .header--upper(16px);
  color: white;
  background-color: #68b738;

  &--home {
    font-size: 14px;
  }

  &--order {
    padding: 8px 25px;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}

@media (min-width: @tablet-width) {
  .button {
    padding: 10px 25px;

    &--home {
      padding: 17px 27px;
      font-size: 20px;
      line-height: 1;
    }

    &--order {
      font-size: 20px;
      padding: 16px 25px;
      line-height: 1;
    }
  }
}
