.button {
  display: inline-block;
  padding: 10px 25px 9px;
  .header--upper(20px);
  font-weight: normal;
  color: white;
  background-color: #68b738;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}
