.catalogs__item {
  margin-bottom: 20px;
  padding: 5px 20px 18px;
  background-color: @grey-bg;
}

.catalogs__header {
  margin-bottom: 30px;
  margin-left: 70px;
  position: relative;
  .header--upper(24px);
  line-height: 1.54;
  color: @main-color;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -70px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @green-bg;
  }

  &--slim::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -70px;
    width: 50px;
    height: 50px;
    background: url("../img/icon-cat-slim.svg") no-repeat center;
  }

  &--pro::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -80px;
    width: 67px;
    height: 50px;
    background: url("../img/icon-cat-pro.svg") no-repeat center;
  }
}

.catalogs__description {
  padding-bottom: 22px;
  border-bottom: 1px solid #dedede;
}

.catalogs__button {
  margin-top: 5px;
  position: relative;
  display: inline-block;
  .header--upper(16px);
  color: @main-color;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 5px;
    right: -35px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid @main-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -32px;
    width: 20px;
    height: 2px;
    background-color: black;
  }
}

.catalogs__button:hover::before {
  right: -44px;
}

.catalogs__button:hover::after {
  right: -39px;
  width: 24px;
}

.catalogs__button:active {
  color: rgba(17, 17, 17, 0.3);
}

.catalogs__button:active::before {
  border-left: 5px solid rgba(17, 17, 17, 0.3);
}

.catalogs__button:active::after {
  background-color: rgba(17, 17, 17, 0.3);
}

@media (min-width: @tablet-width) {
  .catalogs__item {
    margin-top: 30px;
    padding: 40px 52px;
    background-color: @grey-bg;
  }

  .catalogs__header {
    margin-left: auto;
    margin-bottom: 27px;
    font-size: 36px;
    line-height: 1;

    &::before {
      top: 15px;
      left: auto;
      right: 10px;
      width: 200px;
      height: 200px;
    }

    &--slim::after {
      left: auto;
      top: 0;
      right: 12px;
      width: 200px;
      height: 200px;
    }

    &--pro::after {
      left: auto;
      top: 58px;
      right: -22px;
      width: 268px;
      height: 113px;
    }
  }

  .catalogs__description {
    margin-bottom: 27px;
    max-width: 56%;
    border-bottom: none;
  }

  .catalogs__button {
    margin-bottom: 18px;
    font-size: 20px;

    &::before {
      top: 7px;
      right: -46px;
    }

    &::after {
      top: 11px;
      right: -43px;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalogs {
    display: flex;
    justify-content: space-between;
  }

  .catalogs__item {
    flex-basis: 570px;
    margin-top: 0;
  }

  .catalogs__header {
    margin-left: 150px;
    font-size: 36px;

    &::before {
      top: -35px;
      left: -150px;
      width: 100px;
      height: 100px;
    }

    &--slim::after {
      top: -35px;
      left: -130px;
      width: 71px;
      height: 97px;
    }

    &--pro::after {
      top: -10px;
      left: -165px;
      width: 134px;
      height: 57px;
    }
  }

  .catalogs__description {
    max-width: none;
    margin-top: 70px;
  }

  .catalogs__button {
    margin-top: 0;
  }
}
