.contacts {
  background-color: @grey-bg;
}

.contacts--home {
  background: white;
}

.contacts__container {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
}

.contacts__callout {
  .header--upper(16px);
  line-height: 1.25;
  color: @main-color;
  text-align: left;
}

.contacts__address {
  font: inherit;
  line-height: 1.43;
}

.contacts__map {
  position: relative;
  width: 100%;
  min-height: 400px;
  background: url("../img/bg-map-mobile@1x.png") no-repeat center/cover;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 124px;
    height: 106px;
    background: url("../img/map-pin.png") no-repeat center/contain;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    background-color: white;
  }
}
