.contacts {
  background-color: @grey-bg;
}

.contacts--home {
  background: white;
}

.contacts__container {
  padding: 11px 20px;
}

.contacts__address-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__callout {
  margin-right: 30px;
  width: 40%;
  .header--upper(16px);
  line-height: 1.25;
  color: @main-color;
  text-align: left;
}

.contacts__address {
  font: inherit;
  line-height: 1.43;
}

.contacts__map {
  position: relative;
  width: 100%;
  min-height: 362px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 53px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

@media (min-width: @tablet-width) {
  .contacts__callout {
    width: 20%;
  }

  .contacts__map {
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__container {
    padding: 0;
  }

  .contacts__map {
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }

  .contacts__address-wrapper {
    padding: 60px 75px;
    position: absolute;
    top: 100px;
    z-index: 2;
    background-color: white;
  }

  .contacts__map::after {
    left: 70%;
  }
}
