.example {
  margin-top: 30px;
  padding: 5px 20px 20px;
  background-color: @grey-bg;
}

.example__header {
  margin-bottom: 0;
}

.example__image {
  display: block;
  margin: 0 auto;
}

.example__stat-wrapper {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.example__cost {
  margin: 30px auto 15px;
  display: block;
  .header--upper(14px);
  line-height: 1.43;
  color: @main-color;
  text-align: center;
}

.example__progress {
  margin: 35px auto 25px;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: white;
  }

  .example__story {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .example__stat-wrapper {
    width: 40%;
    justify-content: space-between;
    margin-right: auto;
  }

  .example__cost {
    width: 130px;
    text-align: right;
  }
}

// @media (min-width: @desktop-width) {
// }
