.example {
  padding-top: 50px;
  padding-bottom: 1px;
  background-color: @grey-bg;
}

.example__story {
  margin-top: 23px;
}

.example__before-after {
  position: relative;
  display: block;
  margin: 35px -20px;
  padding: 0;
}

.example__image {
  display: block;
  margin: 0 auto;
}

.example__stat-wrapper {
  margin: 25px auto 0;
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.example__cost {
  margin: 28px 0 15px;
  display: block;
  .header--upper(14px);
  line-height: 1.43;
  text-align: center;
  color: @main-color;
}

.example__progress {
  margin: 30px auto;
}

@media (min-width: @tablet-width) {
  .example {
    margin-top: -30px;
    padding-bottom: 0;
    padding-top: 45px;
    background-color: white;
    border-top: 1px solid #eaeaea;
  }

  .example__header {
    margin-bottom: 47px;
  }

  .example__story {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .example__stat-wrapper {
    margin: 37px 0;
    width: 52%;
    justify-content: space-between;
  }

  .example__cost {
    margin-top: 43px;
    width: 190px;
    font-size: 20px;
    text-align: right;
  }

  .example__price {
    margin-left: 60px;
  }

  .example__before-after {
    margin-bottom: 0;
    .full-width();
    padding: 16px 35px 43px;
    background-image: linear-gradient(to top, @grey-bg 71%, white 29%);
  }

  .example__image {
    transform: translateX(8px);
  }

  .example__progress {
    margin-top: 20px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    position: relative;
    border: none;
    padding-top: 35px;

    &::after {
      content: "";
      position: absolute;
      top: 170px;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      background-color: @grey-bg;
    }
  }

  .example__container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .example__header {
    margin-bottom: 52px;
  }

  .example__story {
    position: relative;
    z-index: 1;
    margin-right: 30px;
    padding: 55px 0;
    flex-direction: column;
    width: 470px;
  }

  .example__cost {
    margin-left: 0;
    margin-top: 24px;
    width: auto;
    text-align: left;
  }

  .example__stat-wrapper {
    margin-top: 53px;
    margin-right: 0;
    width: auto;
    justify-content: flex-start;
  }

  .example__stat {
    margin-right: 40px;
  }

  .example__before-after {
    left: 70px;
    z-index: 2;
    transform: none;
    margin: -195px 0;
    padding: 30px 0;
    flex-grow: 1;
    width: 100%;
    background: none;
  }

  .example__image {
    transform: translateX(0);
  }

  .example__progress {
    margin-left: 40px;
    margin-top: 38px;
  }
}
