.features {
  margin-top: 20px;
}

.features__header {
  margin-top: 0;
  margin-bottom: 20px;
}

.features__list {
  .list-reset();
}

.features__item {
  position: relative;
  margin-left: 70px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  min-height: 50px;

  &::after {
    content: "";
    position: absolute;
    align-self: start;
    top: 10px;
    left: -70px;
    width: 50px;
    height: 50px;
  }

  &--healthy::after {
    background: url("../img/advantage-leaf@1x.png") no-repeat center;
    background-color: @green-bg;
  }

  &--fast::after {
    background: url("../img/advantage-powder@1x.png") no-repeat center;
    background-color: @green-bg;
  }

  &--cat-meal::after {
    background: url("../img/advantage-dining@1x.png") no-repeat center;
    background-color: @green-bg;
  }

  &--result::after {
    background: url("../img/advantage-clock@1x.png") no-repeat center;
    background-color: @green-bg;
  }
}

@media (min-width: @tablet-width) {
  .features {
    margin-top: 50px;
  }

  .features__list {
    margin-top: 50px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features__item {
    position: relative;
    padding-top: 100px;
    margin-left: 0;
    margin-bottom: 50px;
    flex-basis: 350px;

    &::before {
      position: absolute;
      top: -32px;
      left: 100px;
      .header(228px);
      color: @grey-bg;
      line-height: 1;
      z-index: -1;
    }

    &::after {
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
    }

    &--healthy::before {
      content: "1";
    }

    &--fast::before {
      content: "2";
    }

    &--cat-meal::before {
      content: "3";
    }

    &--result::before {
      content: "4";
    }
  }

  .features__description {
    width: 220px;
    line-height: 1.5;
  }
}

@media (min-width: @desktop-width) {
  .features__list {
    margin: 50px 0 120px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .features__item {
    margin-bottom: 0;
    display: block;
    align-items: flex-end;
    flex-basis: 240px;
  }
}
