.features__header {
  margin-top: -2px;
  margin-bottom: 17px;
}

.features__list {
  .list-reset();
}

.features__item {
  position: relative;
  margin-left: 80px;
  display: flex;
  align-items: center;
  min-height: 80px;

  &::after {
    content: "";
    position: absolute;
    align-self: start;
    top: 10px;
    left: -80px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px auto;
  }

  &--healthy::after {
    background-image: url("../img/advantage-leaf@1x.png");
    background-color: @green-bg;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--fast::after {
    background-image: url("../img/advantage-powder@1x.png");
    background-color: @green-bg;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--cat-meal::after {
    background-image: url("../img/advantage-dining@1x.png");
    background-color: @green-bg;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--result::after {
    background-image: url("../img/advantage-clock@1x.png");
    background-color: @green-bg;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

@media (min-width: @tablet-width) {
  .features {
    position: relative;
    margin-top: 50px;
  }

  .features__list {
    margin-top: 70px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features__item {
    position: relative;
    padding-top: 112px;
    margin-left: 0;
    margin-bottom: 105px;
    flex-basis: 325px;

    &::before {
      position: absolute;
      top: -40px;
      left: 115px;
      .header(281px);
      color: @grey-bg;
      line-height: 1;
      z-index: -1;
    }

    &::after {
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
    }

    &--healthy::before {
      content: "1";
    }

    &--fast::before {
      content: "2";
    }

    &--cat-meal::before {
      content: "3";
    }

    &--result::before {
      content: "4";
    }
  }

  .features__description {
    width: 250px;
    min-height: 100px;
  }
}

@media (min-width: @desktop-width) {
  .features {
    margin-top: 55px;
  }

  .features__list {
    margin: 73px 0 120px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .features__item {
    margin-bottom: 0;
    display: block;
    align-items: flex-end;
    flex-basis: 245px;
  }
}
