.header {
  position: relative;
  .header(24px);
  line-height: 1;
  color: @main-color;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 12px;
    width: 100vw;
    height: 3px;
    background-color: @green-bg;
    z-index: -1;
  }
}

.header__inner {
  margin-left: -20px;
  padding: 0 20px;
  background: white;
}

@media (min-width: @tablet-width) {
  .header {
    font-size: 36px;

    &::before {
      margin-left: -50vw;
      left: 50%;
      top: 23px;
    }
  }

  .header__inner {
    margin-left: -42px;
    padding: 0 40px;
  }

  .header__inner--addon {
    margin-left: -2px;
    padding: 0 40px;
  }
}

@media (min-width: @desktop-width) {
  .header__inner {
    margin-left: -42px;
  }

  // .header__inner--addon {
  //   margin-left: -42px;
  // }
}
