.main-program {
  margin-bottom: 22px;
  position: relative;
  padding-top: 26px;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 190px;
    z-index: -1;
    min-height: 305px;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-color: @green-bg;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }
  }
}

.main-program__header {
  margin: 0;
  text-align: center;
  color: white;
  line-height: 1;
}

.main-program__slogan {
  margin: 25px auto 30px;
  display: block;
  .header--upper(14px);
  line-height: 1;
  color: white;
  text-align: center;
}

.main-program__button {
  margin-top: -2px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .main-program {
    padding-top: 45px;
    padding-left: 175px;
    min-height: 740px;
    text-align: left;
    margin-bottom: 117px;

    &::after {
      background: none;
    }
  }

  .main-program__header {
    margin-bottom: 43px;
    position: relative;
    z-index: 2;
    color: @main-color;
    text-align: left;
    width: 500px;
  }

  .main-program__slogan {
    margin-bottom: 48px;
    color: @main-color;
    font-size: 20px;
    text-align: left;
  }

  .main-program__button {
    width: auto;
  }

  .main-program__image {
    position: absolute;
    left: 50%;
    bottom: -120px;
    transform: translateX(-50%);
    z-index: -1;
  }
}

@media (min-width: @desktop-width) {
  .main-program {
    background: none;
    min-height: 700px;
    margin-bottom: -48px;
    padding-left: 158px;

    &::after {
      margin-top: -130px;
      left: auto;
      right: 0;
      width: 50%;
      bottom: 0;
      height: 100%;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-color: @green-bg;
      background-position: right bottom;
      background-size: contain;
      background-repeat: no-repeat;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }

    .main-program__header {
      margin-top: 50px;
      margin-bottom: 45px;
    }

    .main-program__image {
      left: 57%;
      top: 20px;
      z-index: 1;
    }

    .main-program__slogan {
      margin-bottom: 52px;
    }
  }
}
