.main-program {
  padding-top: 30px;
  text-align: center;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat center,
    linear-gradient(to bottom, @green-bg 63%, white 37%);
  background-position: center top;
}

.main-program__header {
  margin: 0;
  text-align: center;
  color: white;
  line-height: 1;
}

.main-program__image {
  display: block;
  margin: auto;
}

.main-program__slogan {
  display: block;
  margin: 19px auto 30px;
  font-family: @font;
  font-size: 14px;
  line-height: 1;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
