.order__header {
  margin: 15px 0 26px;
}

.order__description {
  margin-bottom: 8px;
  .header--upper(14px);
  line-height: 1.29;
}

@media (min-width: @tablet-width) {
  .order {
    transform: translateX(2px);
  }

  .order__header {
    margin-top: 46px;
    margin-bottom: 55px;
    margin-left: -40px;
  }

  .order__description {
    width: 350px;
  }
}

@media (min-width: @desktop-width) {
  .order {
    transform: translateX(0);
  }

  .order__header {
    margin: 62px 0 55px;
  }

  .order__description {
    padding: 0;
    width: 350px;
  }
}
