.page-header {
  padding: 0 20px;
}

.page-header__logo {
  display: block;
  min-height: 65px;
  padding: 16px 0 14px;
}

@media (min-width: @tablet-width) {
  .page-header {
    margin: 0 auto;
    display: flex;
    width: @tablet-width;
    align-items: center;
  }

  .page-header__nav {
    margin-left: auto;
  }
}
