.page-footer {
  padding: 20px;
}

.page-footer__copyright {
  padding-top: 20px;
}

.page-footer__logo {
  display: block;
  margin: 20px auto 30px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-color: @grey-bg;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__copyright {
    padding: 0;
  }
}
