.progress {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.progress__bar {
  margin: 0 15px 0 20px;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    width: 84px;
    height: 14px;
    background-color: white;
    border-radius: 6px;
    border: solid 1px #cdcdcd;
  }

  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 35px;
    height: 6px;
    background-color: @green-bg;
    border-radius: 3px;
  }
}

.progress__title {
  font-family: @font;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  color: @main-color;
  text-transform: uppercase;
}
