.site-list__item {
  padding: 24px;
  .header--upper(20px);
  line-height: 1;
  color: @main-color;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
}

@media (min-width: @tablet-width) {
  .site-list__item {
    padding: 0;
    margin-left: 36px;
    border: 0;
  }
}
