.site-list__item {
  padding: 24px;
  .header--upper(18px);
  line-height: 1;
  color: @main-color;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
}

@media (min-width: @tablet-width) {
  .site-list__item {
    padding: 0;
    margin-left: 30px;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item--white a { /* Временно костыль - плохой селектор */
    color: white;
  }
}
