.social__list {
  maring: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.social__link {
  margin: 0 20px;
  display: block;
}

.social__link--vkontakte {
  width: 25px;
  height: 12px;
  background: url("../img/icon-vk-mobile.svg") no-repeat center;
}

.social__link--instagram {
  width: 17px;
  height: 17px;
  background: url("../img/icon-insta-mobile.svg") no-repeat center;
}

.social__link--facebook {
  width: 10px;
  height: 19px;
  background: url("../img/icon-fb-mobile.svg") no-repeat center;
}
