.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  .list-reset();
  padding: 25px 0;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
}

.social__link {
  margin: 0 20px;
  display: block;

  &--vkontakte {
    width: 25px;
    height: 12px;
    background: url("../img/icon-vk-mobile.svg") no-repeat center;
  }

  &--instagram {
    width: 17px;
    height: 17px;
    background: url("../img/icon-insta-mobile.svg") no-repeat center;
  }

  &--facebook {
    width: 10px;
    height: 19px;
    background: url("../img/icon-fb-mobile.svg") no-repeat center;
  }
}
