.spec {
  width: 100%;
  color: @paragraph-color;
}

.spec__value {
  text-align: right;
}

@media (min-width: @tablet-width) {
  .spec {
    border: 1px;
    border-collapse: collapse;
  }

  .spec tr { /* Временный костыль */
    border-bottom: 1px solid #d4d4d4;
  }
}
