.stat {
  text-align: center;
  width: 124px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
}

.stat__numbers {
  margin-top: 15px;
  display: block;
  .header--upper(24px);
  line-height: 1;
  color: @main-color;
}

.stat__caption {
  display: block;
  width: 80px;
  margin: 9px auto -10px;
  font: inherit;
  font-size: 12px;
  line-height: 1;
  background-color: @grey-bg;
}

@media (min-width: @tablet-width) {
  .stat__caption {
    background-color: white;
  }
}

@media (min-width: @desktop-width) {
  .stat__caption {
    background-color: @grey-bg;
  }
}
